In [1]:
print("hello")

hello

In [2]:
name = "Bhakti"
num1 = "20"
num2 = "3.6"
print(name , num1, num2)

Bhakti 20 3.6

In [11]:
print("HA"*4)
print("Bhakti".upper())
print("Agrawal".lower())
print(len("HelloBhaktiAgrawal"))
arr = ["hello" , 1 , "234"]
print(arr)
print(7>2)
print(7<2)
print(4!=4)
print(4!=5)
arr.append("world")
arr.append(26)
print(arr)
arr.insert(0 , "first")
print(arr)

HAHAHAHA
BHAKTI
agrawal
18
['hello', 1, '234']
True
False
False
True
['hello', 1, '234', 'world', 26]
['first', 'hello', 1, '234', 'world', 26]

In [3]:
name = input("Enter your name")
print("Hello  " + name)

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
print("The sum is ", num1+num2)
print("The subtract is " , num2-num1)
print("The multiple is " , num1*num2)

Hello  bhakti agrawal
The sum is  7
The subtract is  1
The multiple is  12

In [3]:
num = 200
if(num>300):
    print("The number is greater than 300")
elif(num>200):
    print("The number is greater than 100 and lesser than 200")
else:
    print("The number is 200")

The number is 200

In [6]:
def hello():
    print("Hello")
    print("Bhakti")
hello()
hello()
hello()

Hello
Bhakti
Hello
Bhakti
Hello
Bhakti

In [11]:
import pandas as p
l = ["Greeks", "For", "Greeks"]
print(p.DataFrame(l))

        0
0  Greeks
1     For
2  Greeks

In [14]:
import pandas as pd
age = [["Bhakti" , 85.4, "Female"],
       ["Alakshya" , 90.2, "Female"],
       ["Vedant" , 76.1, "Male"],
       ["Shraddha", 73.3, "Female"],]
col = ['Name', 'Marks','Gender']
df = pd.DataFrame(age, columns=col)
print(df)

       Name  Marks  Gender
0    Bhakti   85.4  Female
1  Alakshya   90.2  Female
2    Vedant   76.1    Male
3  Shraddha   73.3  Female

: